---
import MainLayout from "../layout/MainLayout.astro";
import LinkButton from "../components/LinkButton.astro"
---

<MainLayout >
    <h1>Tak for testimonial</h1>
  <p>Tak for dit bidrag. Det bliver vist på siden når det er godkendt</p>

</MainLayout>



<style>



      h1 {
        color: white;
        font-family: "Dosis";
        font-size: 2rem;
      }
      p {
        color: white;
        font-family: "Dosis";
        font-size: 1rem;
      }
</style>